.bg-form{
	-fx-background-color:linear-gradient(to top right, #232E66, #23B469);
}

.button {
    -fx-background-color:#232E66;
    -fx-text-fill: white
}

.label {
	-fx-text-fill: white
}

.hbox {
    -fx-background-color: linear-gradient(to right, #232E66, #23B469);
    -fx-background-radius: 30;
    -fx-padding: 20;
    -fx-alignment: center;
}

.anchorPane {
	-fx-background-color: white;
}

.borderPane {
    -fx-background-color: linear-gradient(to right, #232E66, #23B469);
    -fx-background-radius: 30;
    -fx-padding: 20;
    -fx-alignment: center;
}

.choice-box .label {
	-fx-text-fill: black !important;
}